body {
  margin: 0;
  padding: 0;
}

a {
  color: red;
}

main {
  max-width: 1000px;
  min-width: 280px;
  /*background-color: burlywood;*/
  padding: 20px;
  margin: 0 auto;
  font-family: sans-serif;
}

.avatar-container {
  margin-bottom: 40px;
  border-bottom: 1px solid gray;
}

.block-avatar, .block-contacts {
  display: inline-block;
}

.block-avatar {
  width: 30%;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}

.block-contacts {
  width: 69%;
  text-align: right;
}

.block-contacts ul {
  padding: 0;
}

.block-contacts li {
  font-size: 2em;
  list-style: none;
  margin-bottom: 10px;
}

.block-contacts li::after {
  content: '';
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.block-contacts .city::after {
  background-image: url(https://img.icons8.com/fluent/30/000000/map-marker.png);
}

.block-contacts .tel::after {
  background-image: url(https://img.icons8.com/fluent/30/000000/phone.png);
}

.block-contacts .mail::after {
  background-image: url(https://img.icons8.com/fluent/30/000000/mail.png);
}

.block-contacts .github::after {
  background-image: url(https://img.icons8.com/fluent/30/000000/github.png);
}




/*.info-container*/

/*.block-title*/

.info-container section {
  padding: 10px;
  margin-bottom: 10px;
  /*background-color: lightblue;*/
  border-bottom: 1px solid gray;
}

.info-container section:last-child {
  border-bottom: none;
}

.block-title {
  font-size: 1.3em;
  font-weight: bold;
}

.info-container span {
  font-weight: bold;
}

.mgtu {
  list-style: none;
}

.info-container ul {
  margin-bottom: 20px;
}

.info-container li {
  margin-bottom: 10px;
}

.info-container p {
  padding-left: 40px;
}





@media (max-width: 800px) {
  main {
    /*background-color: green;*/
  }

  .block-avatar, .block-contacts {
    width: 99%;
    text-align: center;
  }

  .block-avatar {
    border-bottom: 1px solid gray;
  }

  .block-contacts li {
    font-size: 1.3em;
  }

  .block-contacts li::after {
    content: '';
    display: none;
  }

  .block-contacts li::before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }

  .block-contacts .city::before {
    background-image: url(https://img.icons8.com/fluent/30/000000/map-marker.png);
  }

  .block-contacts .tel::before {
    background-image: url(https://img.icons8.com/fluent/30/000000/phone.png);
  }

  .block-contacts .mail::before {
    background-image: url(https://img.icons8.com/fluent/30/000000/mail.png);
  }

  .block-contacts .github::before {
    background-image: url(https://img.icons8.com/fluent/30/000000/github.png);
  }

}